page-explore {

	.lcolumn {
		width: 50%;
		padding-right: 6px;
	}

	.rcolumn {
		width: 50%;
		padding-left: 6px;
	}

	.row:after {
		content: "";
		display: table;
		clear: both;
	}

	img {
		border-radius: 10px;
		padding-top: 4px;
		padding-bottom: 4px;
	}

	button {
		width: 40px;
		height: 60px;
		position: relative;
	}

	ion-icon {
		font-size: 35px;
	}
}
