page-explore {

	.imagewrap {display:inline-block;position:relative;}
	
	.button1 {
		position:absolute;
		bottom:14%;
		color:white;
		background-color:rgba(0,0,0,0);
		border-radius:30px;
		font-size:0.75em;
	}

	.save {
		background-color:red;
		color:white;
	}

	.location {
		width: 140%;
		left: 42%;
	}

	.lcolumn {
		width: 50%;
		padding-right: 6px;
	}

	.rcolumn {
		width: 50%;
		padding-left: 6px;
	}

	.row:after {
		content: "";
		display: table;
		clear: both;
	}

	input[type=text] {
	    width: 90%;
	    -webkit-transition: width 0.4s ease-in-out;
	    transition: width 0.4s ease-in-out;
	}

	img {
		border-radius: 10px;
		padding-top: 4px;
		padding-bottom: 4px;
	}

	button {
		width: 20px;
		height: 20px;
		position: relative;
	}
}
