page-explore {

	.lcolumn {
		width: 50%;
		padding-right: 6px;
	}

	.rcolumn {
		width: 50%;
		padding-left: 6px;
	}

	.row:after {
		content: "";
		display: table;
		clear: both;
	}

	img {
		border-radius: 12px;
		padding-bottom: 8px;
	}
}
